
/*-----------------------Catalog ---------------------*/
.catalog-box {
	text-align: right;
	/*border: 1px solid red;*/
}


.catalog-box ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	width: 1200px;
	/*border: 2px solid blue;*/
	text-align: center;
	/*margin-left: 40px;*/

	/*background-color: #333333;*/
}

.catalog-box ul li {
	display: inline-block;
	margin: 0 auto;
	/*border: 1px solid green;*/
	/*float: left;*/
}

.catalog-box ul li a{
	position: relative;
	display:block;
	/*float: center;*/
	margin: 35px;
	width: 300px;
	height: auto;
}

.container-dance, .container-music, .container-theatre, .container-literature, .container-quiz, .container-academia {
	/*position: relative;*/
	width: 100%;
	height: auto;
	/*margin: 0px 20px;*/
}

.image-dance, .image-music, .image-theatre, .image-literature, .image-quiz, .image-academia {
	display: block;
	width: 100%;
	height: auto;
	border-radius: 15px;
}

.overlay-dance, .overlay-music, .overlay-theatre, .overlay-literature, .overlay-quiz, .overlay-academia {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 100%;
	height: 15%;
	transition: 0.5s ease;
	border-radius: 15px;
	border-radius: 15px;
	opacity: 0.85;
}

.container-dance:hover .overlay-dance { height: 100%; }
.container-music:hover .overlay-music { height: 100%; }
.container-theatre:hover .overlay-theatre { height: 100%; }
.container-literature:hover .overlay-literature { height: 100%; }
.container-quiz:hover .overlay-quiz { height: 100%; }
.container-academia:hover .overlay-academia { height: 100%; }

.text-dance, .text-music, .text-theatre, .text-literature, .text-quiz, .text-academia {
	white-space: nowrap; 
	color: white;
	font-size: 30px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}