.nav-bar-cb {
	background: #34a46c;
	padding: 0;
	margin: 0px 0px;
	height: 40px;
}

.left-bar-cb {
	width: 200px;
	height: 400px;
	border: 2px solid black;
}

.video-cmp{
	width: 500px;
	width: 500px;
	border: 2px solid green;
}

