
/*---------------sign in-----------------*/

.box-signin, .box-signup{ /*aligned center of page*/
	width:400px;
	height: 500px;
	margin:0 auto;
	border:1px;
	background-color: #dcdcdc;
	/*position:absolute;*/
}




.input-signin-email, .input-signup-email {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 15px;
    background-image: url(/assets/images/email.png);
    background-repeat: no-repeat;
    background-position: 2px 1px;
    background-size: 40px 40px;
    padding-left: 50px;
}
.input-signin-password, .input-signup-password {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 15px;
    background-image: url(/assets/images/password.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    background-size: 40px 35px;
    padding-left: 50px;


}
.input-signup-name {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 15px;
    background-image: url(/assets/images/user.png);
    background-repeat: no-repeat;
    background-position: 7px 4px;
    background-size: 30px 30px;
    padding-left: 50px;
}




.button-signin, .button-signup {
    /*position: relative;*/
    background-color: #003636;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    bottom: 5px;
}

.button-signin:hover { opacity: 0.8; }
.button-signup:hover { opacity: 0.8; }

.image-signin{
    text-align: center;
    margin: 0px 0 10px 0;
    /*margin: 12px;*/
}

.text-signin{
	margin: 0 auto;
	text-align: center;
}

img.avatar-signin{
    width: 40%;
    border-radius: 50%;
    margin: 2em;
}

.dummy-signup {
	padding: 1em;
}

.container-signin, .container-signup {
    padding: 16px;
}



.header-signin, .header-signup {
	width:400px;
	margin:0 auto;
	text-align: center;
	font-family: "Open Sans";
	font-size: 25px;
	margin-bottom: 25px;
}

