<!DOCTYPE html>
<html>
	<head>
		<title>BeinGenious</title>

		<link href="/assets/css/style_basic.css" media="all" rel="stylesheet" type="text/css"/>  
		<link href="/assets/css/style_sign.css" media="all" rel="stylesheet" type="text/css"/>  
		<link href="/assets/css/style_catalog.css" media="all" rel="stylesheet" type="text/css"/>
		<link href="/assets/css/style_course.css" media="all" rel="stylesheet" type="text/css"/>  
		<link href="/assets/css/style_home.css" media="all" rel="stylesheet" type="text/css"/>  
		<link href="/assets/css/style_course_create.css" media="all" rel="stylesheet" type="text/css"/>  
		<link href="/assets/css/style_profile.css" media="all" rel="stylesheet" type="text/css"/>  
		<link href='//fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
		<script language="javascript" src="/assets/js/base.js" type="text/javascript"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- <script language="javascript" src="/assets/js/home.js" type="text/javascript"></script> -->

	</head>
<body>
	<div class = "header" id = "top1">
			<h1 class="header-heading">
				<a href = "/">Be<em>i</em>nGenious</a>
			</h1>
	</div>

	<div class = "nav-bar" id = "top2">
		<nav class = "primary_nav_wrap">
			<ul>
				<li><a href = "/">Home</a></li>
				<li><a href = "/catalog">Catalog</a></li>

				{% if user == None %}
				<li><a href = "/login?pane=signin">Sign In</a></li>
				<li><a href = "/login?pane=signup">Sign Up</a></li>
				{% else %}
				<li><a href = "/dashboard">Dashboard</a></li>
				<li>
					<a href = "/profile" class = "profile-link">{{user.fname}}</a>
					<ul>
						<li><a href = "/dashboard">Dashboard</a></li>
						<li><a href = "/create_course">Start Activity</a></li>
						<li><a href = "/profile">Profile</a></li>
						<li><a href = "/logout">Logout</a></li>
					</ul>
				</li>
				{% endif %}
			</ul>
	</div>

	


	{% block content %}
	{% endblock %}

</body>
</html>