{% extends "base.html" %}
{% block content %}
<!-- <hr> -->
<form action = "/activities">
<div class = "catalog-box">
	<ul class = "list1">
		
		<li class = "activity">
			<a href="/activities?category=Dance">
				<div class="container-dance">
					<img src="/assets/images/music.jpg" class = "image-dance"> 
					<div class="overlay-dance">
				    	<div class="text-dance">Dance </div>
				  	</div>
				</div>
			</a>
		</li>
		<li class = "activity">
			<a href="/activities?category=Music">
				<div class="container-music">
					<img src="/assets/images/music.jpg" class = "image-music"> 
					<div class="overlay-music">
				    	<div class="text-music">Music </div>
				  	</div>
				</div>
			</a>
		</li>
		<li class = "activity">
			<a href="/activities?category=Theatre">
				<div class="container-theatre">
					<img src="/assets/images/theatre.jpg" class = "image-theatre"> 
					<div class="overlay-theatre">
				    	<div class="text-theatre">Theatre </div>
				  	</div>
				</div>
			</a>
		</li>
	</ul>
</div>
<div class = "catalog-box">
	<ul class="list1">
		<li class = "activity">
			<a href="/activities?category=Literature">
				<div class="container-literature">
					<img src="/assets/images/literature.jpg" class = "image-literature"> 
					<div class="overlay-literature">
				    	<div class="text-literature">Literature </div>
				  	</div>
				</div>
			</a>
		</li>
		<li class = "activity">
			<a href="/activities?category=Quiz and Debate">
				<div class="container-quiz">
					<img src="/assets/images/quiz.png" class = "image-quiz"> 
					<div class="overlay-quiz">
				    	<div class="text-quiz">Quiz & Debate </div>
				  	</div>
				</div>
			</a>
		</li>
		<li class = "activity">
			<a href="/activities?category=Academia">
				<div class="container-academia">
					<img src="/assets/images/academia.jpg" class = "image-academia"> 
					<div class="overlay-academia">
				    	<div class="text-academia">Academia </div>
				  	</div>
				</div>
			</a>
		</li>
			

	</ul>
</div>
<!-- </table> -->
</form>
{% endblock %}