{% extends "base.html" %}
{% block content %}
<!-- <hr> -->
<form action = "/activities">
<!-- <table class = "catalog_table"> -->
<ul>
	<li class = "dance"><a href="/activities?category=Dance"> writessssss</a></li>
	<li class = "music"><a type = "submit" name = "category" value = "Music"> writessssss</a></li>
	<li class = "theatre"><a type = "submit" name = "category" value = "Theatre"> writessssss</a></li>
<!-- </tr>
<tr> -->
	<li class = "literature"><a type = "submit" name = "category" value = "Literature"> writessssss</a></li>
	<li class = "quiz"><a type = "submit" name = "category" value = "Quiz & Debate"> writessssss</a></li>
	<li class = "academia"><a type = "submit" name = "category" value = "Academia"> writessssss</a></li>
</ul>
<!-- </table> -->
</form>
{% endblock %}