{% extends "base.html" %}
{% block content %}

<!-- using primary_nav_wrap style of base -->
<!-- <div class="line-top-cb"></div> -->
<input type="hidden" name="tag" value="{{tag}}">

<div class = "box-cb">
	<div class = "block-maincontent">
	
		<div class = "nav-bar-cb">	
			<nav class = "primary_nav_wrap-cb">
				<ul>

					{% if tag == 'initiator' and not(dtag) %}
					{% if course.type_course == 'course' %}
					<li><a id="add_module" href="/editcourse/{{course.code}}" onclick="addModuleClick()">Add Module</a></li>

					<li><a id="add_chapter" href="#">Add a chapter</a></li>
					{% endif %}

					<li><a id="participants" href="/participants/{{course.code}}">View Participants</a></li>
			<!-- <a id="participants" href="/participants/{{course.code}}">View Participants</a><br> -->
					{% endif %}

					{% if tag == 'benefitter' and user_course %}
					<li><a href="/view_grades/{{user_course.key.id()}}/{{course.code}}">View My Grades</a></li>
					{% endif %}

					<li><a href="/discussion/{{course.code}}?tag={{tag}}">Discussion Forum</a> </li>
					{% if dtag %}
					<li><a href="/courses/{{course.code}}?tag={{dtag}}"> Go Back </a> </li>
					{% endif %}
					{% block course_navigation %}

					{% endblock %}

				</ul>
			</nav>
		</div>

	
		<h2 id = bm-h2>{{course.code}}: {{course.ctitle}}</h2>
		{% block maincontent %}
		{% endblock %}
	</div>

	<div class = "left-bar-cb">
		<h2 class = "left-bar-head">Modules</h2>
		<nav> 
			<ul>
				{% if course.type_course == 'course' %}
				{% for module in course.contents %}
				<li id="spec"><a href="#" onclick="moduleClick({{module.id}})">Module {{module.id|int + 1}}: {{module.name}}</a></li>
				<div id="module_{{module.id}}" class="module" >
				{% for lesson in module.lessons %}
				<li><a href="#" onclick="lessonClick({{module.id}}, {{lesson.id}})">{{lesson.name}}</a></li>
				{% endfor %}
				</div>
				{% endfor %}
				{% endif %}
			</ul>
		</nav>
	</div>



</div>

{% block script %}
{% endblock %}

{% endblock %}