{% extends "base.html" %}
{% block content %}

{% if tag == 'initiator' %}
<a id="add_module" href="/editcourse/{{course.code}}" onclick="addModuleClick()">Add Module</a><br>

<a id="add_chapter" href="#">Add a chapter</a><br>
<a id="participants" href="/participants/{{course.code}}">View Participants</a><br>
{% endif %}

{% if tag == 'benefitter' and user_course %}
<a href="/view_grades/{{user_course.key.id()}}/{{course.code}}">View My Grades</a>
<br>
{% endif %}

<a href="/discussion/{{course.code}}">Discussion Forum</a> <br>

{% for module in course.contents %}
<a href="#" onclick="moduleClick({{module.id}})">Module {{module.id|int + 1}}: {{module.name}}</a>
<div id="module_{{module.id}}" class="module">
{% for lesson in module.lessons %}
<a href="#" onclick="lessonClick({{module.id}}, {{lesson.id}})">{{lesson.name}}</a>
<br>
{% endfor %}
</div>
<br>
{% endfor %}

<br>

<h2>{{course.code}}: {{course.ctitle}}</h2>
{% block maincontent %}
{% endblock %}

{% block script %}
{% endblock %}

{% endblock %}