{% extends "base.html" %}

{% block content %}
<hr>
<div class = "box-dbd">
<div class = "form-cc">
	<form id="submission_form" action="/create_course" method = "post" enctype="multipart/form-data" onsubmit="submitfunc()">

	<div class = "form-cc-heading"><h2> Fill the Activity Information </h2> </div>
		

	  	<label for = "feild7"><span>Activity type</span>
			<div class = "radio-cc">	
				<input type="radio" name="type1" value="course" checked> Course
		  		<input type="radio" name="type1" value="event"> Event
			</div>
		</label>

	<!-- <table style = "width:100%"> -->
		<label for = "feild1"><span>Title <span class = "required">*</span></span>
			<input class = "inp-cc" type = "text" placeholder = "Title of the Activity" name = "title" value = "{{title}}">
			<div class = "error">{{empty_title}}</div>
		</label>
		
		<label for = "feild2"><span>Organization/Institute Name</span>
			<input class = "inp-cc" type = "text" placeholder = "Organization/Institute Name (optional)" name = "organization" value = "{{organization}}">
		</label>

		<label for = "feild3"><span>Activity Overview </span>
			<textarea class = "ta-cc" name = "overview" rows="4" cols="50" placeholder = "Overview of the activity">{{overview}}</textarea>
		</label>

		<label for = "feild4"><span>Start Date <span class = "required">*</span></span>
				<input class = "date1-cc" type = "date" name = "start_date" value = "{{start_date}}">
		</label>

		<label for = "feild5"><span>End Date <span class = "required">*</span></span>
			<input class = "date2-cc" type = "date" name ="end_date" value = "{{end_date}}">
			<div class = "error">{{invalid_date}}</div>
		</label>
		
		<label for = "feild6"><span>Activity Discipline</span>
				<select class = "select-cc" name = "area">
					<option value = "Dance"> Dance </option>
					<option value = "Music"> Music </option>
					<option value = "Theatre"> Theatre </option>
					<option value = "Literature"> Literature </option>
					<option value = "Quiz and Debate"> Quiz &amp; Debate </option>
					<option value = "Academia"> Academia </option>
				</select>
		</label>
		
		<label for = "feild7"><span>Activity Level</span>
				<select class = "select-cc" name = "level">
					<option value = "Beginner"> Beginner </option>
					<option value = "Intermediate"> Intermediate </option>
					<option value = "Advanced"> Advanced </option>
				</select>
		</label>

				
		<label for = "feild7"><span>Video</span>
			<div class = "radio1-cc">
				<input type="radio" id="upload" class="accordion" name="upload" value="file" required>Upload Overview Video
				<div class="panel">
					<input id = "x1" type="file" name="file">
				</div>
			</div>
		</label>
		
		<label for = "feild7"><span></span>
			<div class="radio2-cc">
				<input type="radio" class="accordion" name="upload" value="link" required>Give video link
				<div class="panel">
		 			<input id = "x2" type="text" name="link">
				</div>
			</div>
		</label>
				
		<!-- </table> -->
			<div class="error">{{file_error}}</div>
			<input type = "submit" value = "Float the Activity" name = "float">
		</form>
	</div>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;
for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        var panels = document.getElementsByClassName("panel");
        var j;
        for(j = 0; j<panels.length; j++){
        	panels[j].style.display = "none";
        }

        var panel = this.nextElementSibling;
        if(panel.className == "panel")
        	panel.style.display = "block";

        var form = document.getElementById("submission_form");
        var id = this.id;
        if(id == "upload")
        	form.action = "{{upload_url}}";
        else
        	form.action = "/create_course";
    }
}

function submitfunc(){
	var title = document.getElementsByName("title")[0].value;
	var form = document.getElementById("submission_form");
	if (title == "")
		form.action = "/create_course";

	var sdate = document.getElementsByName("start_date")[0].value;
	var edate = document.getElementsByName("end_date")[0].value;
	if(sdate == "" || edate == "" || sdate > edate)
		form.action = "/create_course";

	var clicked = getClickedValue("upload");
	if(clicked != "")
		var uploaded = document.getElementsByName(clicked)[0].value;
		if(uploaded == "")
			form.action = "/create_course";
}

</script>
{% endblock %}
