{% extends "course_base.html" %}

{% block script %}
<script type="text/javascript">
	function moduleClick(module_id){
		var module_divs = document.getElementsByClassName("module");
		var i;
		for(i = 0;i<module_divs.length;i++)
			module_divs[i].style.display = "none";
		document.getElementById("module_"+module_id.toString()).style.display = "block";
		{% if tag == 'initiator' %}
		document.getElementById("add_chapter").href = "/editcourse/{{course.code}}?module="+module_id.toString();
		{% endif %}
	}

	function quizSubmit(){
		var correct = JSON.parse(document.getElementsByName("correct_ans")[0].value);
		correct = correct.sort();
		var ans = [];
		var options = document.getElementsByName("answer");
		for(var i = 0;i<options.length;i++){
			if(options[i].checked)
				ans.push(options[i].value);
		}
		ans = ans.sort();
		if(ans.toString() == correct.toString()){
			alert("Great Job!");
			document.getElementById("correct").value = "1";
		}
		else{
			alert("Try Again - Incorrect Answer");
			document.getElementById("correct").value = "0";
		}

	}

	function videoHTML(lesson){
		var html = "";
		html += '<iframe width="420" height="345" id="video" src="'+lesson["link"]+'"> </iframe>';
		html += '<br>'+lesson['description'];
		return html
	}

	function quizHTML(lesson, module_id){
		var html = "";
		html += '<form method="post" onsubmit="return quizSubmit()">';
		html += lesson["question"]+'<br>'
		for(var i = 1;i<=lesson["options"].length;i++){
			if(lesson["quiz_format"] == "single")
				html += '<input type="radio" required name="answer" value="'+i.toString()+'"> '+lesson["options"][i-1];
			else
				html += '<input type="checkbox" name="answer" value="'+i.toString()+'"> '+lesson["options"][i-1];
			html += '<br>';
		}
		html +='<input type="submit" value="Submit Answers">';

		html += '<input type="hidden" id="correct" name="correct" value="-1">';
		html += '<input type="hidden" name="lesson_id" value="'+lesson["id"]+'">';
		html += '<input type="hidden" name="module_id" value="'+module_id+'">';
		html += '</form>';

		html += '<input type="hidden" name="correct_ans" value="['+lesson["correct"].toString() + ']">';
		html += '<br>'+lesson['description'];
		return html;
	}

	function submissionHTML(lesson){
		var html = lesson['description']+'<br>';
		html += '<a href="'+lesson['submit_url']+'">Make a Submission</a>';
		return html;
	}

	function lessonClick(module_id, lesson_id){
		var contents = {{course.contents|tojson|safe}};
		var lesson = contents[module_id]["lessons"][lesson_id];
		var html;
		if(lesson["type"] == "blob" || lesson["type"] == "link")
			html = videoHTML(lesson);
		else if(lesson["type"] == "quiz")
			html = quizHTML(lesson, module_id);
		else if(lesson["type"] == "submission")
			html = submissionHTML(lesson)
		document.getElementById("maincontent").innerHTML = html;
	}

	function addModuleClick(){}
</script>
{% endblock %}


{% block maincontent %}
	{% if course.type_course == 'event' %}
	Teacher : {{course.get_author_name()}} <br>
	{% if course.organization != '' %}
	Organization : {{course.organization}} <br>
	{% endif %}

	Overview : {{course.overview}} <br>
	Duration : {{course.date_start}} to {{course.date_end}}

	{% if course.contents == [] and tag == 'initiator' %}
	<form method = "post">
		<input type="submit" value="Create a Submission Link for Participants">
	</form>
	{% elif tag == 'initiator' %}
	Submission link has been opened.
	{% elif tag != 'initiator' and course.contents != [] %}
	<a href="{{course.contents[0]['submit_link']}}">Make a Submission </a>
	{% endif %}
	{% endif %}

	<div id="maincontent" class = "video-cmp">
		<iframe width="850" height="500" id="video" src="{{course.overview_video['link']}}"></iframe>
	</div>
{% endblock %}