{% extends "course_base.html" %}
{% block maincontent %}
<center class = "center-disc">Welcome to Discussion Forum - {{course_code}} </center>
<hr>
<script type="text/javascript">
	function post_question(){
		document.getElementById("post_ques").style.display = "none";
		// document.getElementById("title").style.display = "block";
		document.getElementById("query_form").style.display = "block";

	}
	function cancel_question(){
		// document.getElementById("title").style.display = "none";
		document.getElementById("query_form").style.display = "none";
		document.getElementById("post_ques").style.display = "block";
	}
	function post_reply(clicked_id){
		var reply_forms = document.getElementsByName("reply_form");
        var j;
        for(j = 0; j<reply_forms.length; j++){
        	reply_forms[j].style.display = "none";
        }
        var reply_links = document.getElementsByName("reply_link");
        var j;
        for(j = 0; j<reply_links.length; j++){
        	reply_links[j].style.display = "block";
        }
		document.getElementById("reply_form_"+clicked_id.toString()).style.display = "block";
		document.getElementById("reply_link_"+clicked_id.toString()).style.display = "none";
	}
	function cancel_reply(clicked_id){
		document.getElementById("reply_link_"+clicked_id.toString()).style.display = "block";
		document.getElementById("reply_form_"+clicked_id.toString()).style.display = "none";
	}

	function moduleClick(module_id){
		var module_divs = document.getElementsByClassName("module");
		var i;
		for(i = 0;i<module_divs.length;i++)
			module_divs[i].style.display = "none";
		document.getElementById("module_"+module_id.toString()).style.display = "block";
		{% if tag == 'initiator' %}
		document.getElementById("add_chapter").href = "/editcourse/{{course.code}}?module="+module_id.toString();
		{% endif %}
	}
	function lessonClick(module_id, lesson_id){
		var lessons = document.getElementsByName("lesson-click");
		for(var i = 0;i<lessons.length;i++)
			lessons[i].href = "/courses/{{course.code}}?tag={{tag}}";
	}
	
</script>
<div id = "post_ques" style="display:block">
	<a href="#" class = "button" onclick="post_question()">Post a Question</a>
</div>

<form class = "form-disc" id = "query_form" action = "#" method="post"  style="display:none">
	<input class = "input-disc" name="query_title" type = "text" placeholder="Title" required oninvalid="this.setCustomValidity('Query cannot be posted without a title')"
    oninput="setCustomValidity('')" /><br>
<!-- </div> -->
<!-- <div id = "query" style="display:none"> -->
	<textarea class = "ta-disc" name="query_desc" type = "text" placeholder="Enter your query"></textarea><br>
<!-- </div> -->
	<!-- <div> -->
		<input class = "submit-disc" type="submit" value="Post" name ="post_R" >
		<a href="#" onclick="cancel_question()">Cancel</a>
	<!-- </div> -->
</form>

{% for query in course.discussion %}
	<div class = "query">
		<div class = "ques" style="background: #e8e8e8">
			<h2 style="padding: 10px 30px">{{query.title}} </h2>
			<div style="margin-left: 30px">{{query.content}}</div>
			<div class = "posted-by">Posted by {{query.user}} on {{query.time}}</div>
			<div class = "reply-button">
				<a class = "reply-button-link" href="#" id="reply_link_{{query.query_id}}" name = "reply_link" onclick="post_reply({{query.query_id}})">Reply</a>

			</div>
		</div>
			
		<div class = "reply-box">
			<form class = "form-disc" id = "reply_form_{{query.query_id}}" name = "reply_form" action = "#" method="post" style="display:none">
				<input type = "hidden" name = "reply_form_hidden" value = {{query.query_id}}>
	<!-- </div> -->
	<!-- <div id = "query" style="display:none"> -->
				<textarea class="ta-disc" name="reply_desc_{{query.query_id}}" type = "text" placeholder="Enter your reply"></textarea><br>
	<!-- </div> -->
				<div class = "button-disc" id = "cancel_{{query.query_id}}" style="display: block">
					<input class = "submit-disc" type="submit" value="Post the reply" name ="post_R" > 
					<a href="#" onclick="cancel_reply({{query.query_id}})">Cancel</a>
				</div>
			</form>
			<h3>Comments :</h3>
			{% for reply in query.reply %}
				<div class = "reply">
					<p style="padding: 15px">{{reply.content}}</p>
					<div class = "posted-by"> Posted by {{reply.user}} on {{reply.time}}</div>
				</div>
			{% endfor %}
		</div>
		<hr>
	</div>
{% endfor %}

		<!-- <td>Last Name</td>
		<td>{{user.lname}}
		<div id = "div2" style="display: block">
		(<a href="#" onclick="jsfunc2()">edit</a>)
		</div>
		<form id = "form2" action="#" method="post" style="display: none">
		<input name="lname">
		<input type="submit" name="submit">
		</form>
		</td>
	</tr>
	<tr>
		<td>Email ID</td>
		<td>{{user.email}}</td>
	</tr> -->

{% endblock %}