{% extends "course_base.html" %}

{% block course_navigation %}
<li><a href="/courses/{{course.code}}?tag=initiator">Go Back</a></li>
{% endblock %}

{% block maincontent %}


<div class="box-dbd" >
<div class="form-cc" >
	
	{% if edit_module == -1 %}
	<div class = "form-cc-heading"><h2 id="heading">Adding New Module</h2> </div>
	{% else %}
	<div class = "form-cc-heading"><h2 id="heading">Adding New Lesson to Module {{edit_module+1}}: {{course.contents[edit_module].name}}</h2> </div>
	{% endif %}

	<form action = "/editcourse/{{course.code}}" method="post" id="edit_form" enctype="multipart/form-data" onsubmit="submitfunc()">

		<label id="module_row" for = "feild1"> 
		{% if edit_module == -1 %}
			<span>Module Name<span class="required">*</span></span>
			<input class = "inp-cc" type="text" name="module_name" placeholder="Name of module" required>
			<div class="error">{{empty_title}}</div>
		{% endif %}
		</label>
		<input type="hidden" id="edit_module" name="edit_module" value="{{edit_module|string}}">

		<label>
			<span>Lesson Title<span class="required">*</span></span>
			<input class = "inp-cc" type="text" name="subtitle" placeholder="Title of lesson" required>
			<div class="error">{{empty_subtitle}}</div>
		</label>

		<label>
			<span>Lesson Format<span class="required">*</span></span>
			<select class = "select-cc" id="lesson_format" name = "lesson_format" onchange="lessonFormatClick()">
					<option value = "lecture"> Video Lecture </option>
					<option value = "quiz"> Quiz </option>
					<option value = "submission"> Submission Assignment </option>
			</select>
		</label>

		<div class="lesson_format" id="lecture">
		<label>
			<span>Video:<span class="required">*</span></span>
			<input class = "radio1-cc accordion" type="radio" id="upload" name="upload" value="file">Upload Video
			<div class="panel">
	 			<input id = "x1" type="file" name="file">
			</div>
		</label>

		<label> 
			<span></span>
			<input class = "radio2-cc accordion" type="radio"  name="upload" value="link">Video link
			<div class="panel">
	 			<input id = "x2" type="text" name="link" placeholder="Video link">
			</div>
		</label>
		<div class="error">{{file_error}}</div>
		</div>

		<div class="lesson_format" id="quiz">
		<label>
			<span>Question<span class="required">*</span></span>
			<input class="inp-cc quiz_inp"  type="text" name="question" placeholder="Question">
		</label>

		
		<label>
			<span>Quiz Format<span class="required">*</span></span>
			<select class = "select-cc" id="quiz_format" name = "quiz_format" onchange="numOptionsClick()"">
					<option value = "single"> Single Correct </option>
					<option value = "multiple"> Multiple Correct </option>
			</select>
		</label>
		
		<label>
			<span>Maximum marks<span class="required">*</span></span>
				<input id="inp-cc quiz_inp"  name="max_marks" type = "number" placeholder="Max Marks" oninvalid="this.setCustomValidity('Quiz needs to have maximum marks')"
	    oninput="setCustomValidity('')" />
		</label>
		
		<label>
			<span>Number of choices<span class="required">*</span></span>
			<select class="select-cc" id="num_options" name = "num_options" onchange="numOptionsClick()">
					<option value = "1"> 1 </option>
					<option value = "2"> 2 </option>
					<option value = "3"> 3 </option>
					<option value = "4"> 4 </option>
					<option value = "5"> 5 </option>
			</select>
		</label>
		

		<div class = "quiz" id = "single">
			<label> 
				<span>Choices<span class="required">*</span></span>
				<div class = "single" id = "single_options">
					<input class = "inp-cc quiz_inp" type="text"  name="single_1" placeholder="Choice 1">
				</div>
			</label>
			<label> <span>Correct Answers<span class="required">*</span></span>
				<div class="radio1-cc single"  id = "single_correct">
					<input type="radio" class="quiz_inp" name="single_correct" value="1"> 1
				</div>
			</label>
		</div>

		<div class = "quiz" id = "multiple">
			<label>
				<span>Choices<span class="required">*</span></span>
				<div class ="multiple" id = "multiple_options">
				</div>
			</label>
				<label> <span>Correct Answers<span class="required">*</span></span>
				<div class = "multiple" id = "multiple_correct">
				</div>
			</label>

		</div>
		</div>

		<div class = "lesson_format" id="submission">
			<label>
				<span>Create a submission assignment with maximum marks 100.<span class="required">*</span></span>
			</label>
		</div>
		<label><span>Description</span>
			<textarea class = "ta-cc" name="description" placeholder="Instructor comments">{{description}}</textarea>
		</label>
		
		<input type="submit" value="Add">
	</form>
</div>
</div>
{% endblock %}

{% block script %}
<script>
var radios = document.getElementsByName("upload");
var i;
for (i = 0; i < radios.length; i++) {
    radios[i].onclick = function(){
	var panels = document.getElementsByClassName("panel");
        var j;
        for(j = 0; j<panels.length; j++){
        	panels[j].style.display = "none";
        }

        var panel = this.nextElementSibling;
        if(panel.className == "panel")
        	panel.style.display = "block";
        
        var form = document.getElementById("edit_form");
        var id = this.id;
        if(id == "upload")
        	form.action = "{{upload_url}}";
        else
        	form.action = "/editcourse/{{course.code}}";
    }
}

function submitfunc2(){
	var checkboxes = document.getElementsByName("multiple_correct");
	for(var i = 0;i<checkboxes.length;i++){
		if(checkboxes[i].clicked)
			return true;
	}
	alert("Atleast one answer has to be correct");
	return false;
}

function submitfunc(){
	var form = document.getElementById("edit_form");
	var edit_module = document.getElementById("edit_module").value;
	if(edit_module == -1)
	{
		var module_name = document.getElementsByName("module_name")[0].value;
		if(module_name == "")
			form.action = "/editcourse/{{course.code}}";
	}
	var title = document.getElementsByName("subtitle")[0].value;
	if (title == "")
		form.action = "/editcourse/{{course.code}}";

	var clicked = getClickedValue("upload");
	if(clicked != "")
		var uploaded = document.getElementsByName(clicked)[0].value;
		if(uploaded == "")
			form.action = "/editcourse/{{course.code}}";
}

function moduleClick(module_id){
		var module_divs = document.getElementsByClassName("module");
		var i;
		for(i = 0;i<module_divs.length;i++)
			module_divs[i].style.display = "none";
		document.getElementById("module_"+module_id.toString()).style.display = "block";
		var contents = {{course.contents|tojson|safe}}
		document.getElementById("heading").innerHTML = "Adding New Lesson to Module "+(module_id+1).toString()+": "+contents[module_id]["name"];
		document.getElementById("edit_module").value = module_id.toString();
		document.getElementById("module_row").innerHTML = "";
}

function addModuleClick(){
	document.getElementById("add_module").href = "#";
	var module_divs = document.getElementsByClassName("module");
	var i;
	for(i = 0;i<module_divs.length;i++)
		module_divs[i].style.display = "none";
	document.getElementById("heading").innerHTML = "Adding New Module";
	document.getElementById("edit_module").value = "-1";
	document.getElementById("module_row").innerHTML = 'Module Name <input type="text" name="module_name" placeholder="Name of module" required> <div class="error">{{empty_title}}</div>';
}

function lessonClick(module_id, lesson_id){
		var lessons = document.getElementsByName("lesson-click");
		for(var i = 0;i<lessons.length;i++)
			lessons[i].href = "/courses/{{course.code}}?tag={{tag}}";
	}

function lessonFormatClick(){
	var lesson_format = document.getElementById("lesson_format").value;
	if(lesson_format != "lecture"){
		document.getElementById("edit_form").action = "/editcourse/{{course.code}}";
		document.getElementById("edit_form").onsubmit = "return submitfunc2()";
	}
	else{
		document.getElementById("edit_form").onsubmit = "submitfunc()";
	}

	var divs = document.getElementsByClassName("lesson_format");
	for(var i = 0;i<divs.length;i++)
		divs[i].style.display = "none";
	document.getElementById(lesson_format).style.display = "block";
	var quiz_elems = document.getElementsByClassName("quiz_inp");
	for(var i = 0;i<quiz_elems.length;i++)
	{
		if(lesson_format == "quiz")
			quiz_elems[i].required = true;
		else
			quiz_elems[i].required = false;
	}
}

function numOptionsClick(){
	var quiz_format = document.getElementById("quiz_format").value;
	var divs = document.getElementsByClassName("quiz");
	for(var i = 0;i<divs.length;i++)
		divs[i].style.display = "none";
	document.getElementById(quiz_format).style.display = "block";
	var num_options = document.getElementById("num_options").value;
	var options_html = "";
	var correct_html = "";
	var correct_type = "radio";
	if(quiz_format == "multiple")
		correct_type = "checkbox";

	for(var i = 1;i<=num_options;i++)
	{
		options_html = options_html+'<label><span> </span><input type="text" class="quiz_inp inp-cc" name="'+quiz_format+'_'+i.toString()+'" placeholder="Choice '+i.toString()+'" required></label>';
		correct_html = correct_html+'<input type="'+correct_type+'" class="quiz_inp" name="'+quiz_format+'_correct" value="'+i.toString()+'"';
		if(quiz_format == "single")
			correct_html += ' required>'+i.toString()+'';
		else
			correct_html += '>'+i.toString()+'';
	}
	document.getElementById(quiz_format+"_options").innerHTML = options_html;
	document.getElementById(quiz_format+"_correct").innerHTML = correct_html;

	if(quiz_format == "single"){
		document.getElementsByClassName("multiple")[0].innerHTML = "";
		document.getElementsByClassName("multiple")[1].innerHTML = "";
	}
	else{
		document.getElementsByClassName("single")[0].innerHTML = "";
		document.getElementsByClassName("single")[1].innerHTML = "";
	}
}

</script>
{% endblock %}