{% extends "base.html" %}
{% block content %}
<div class = "home">
	<!-- <div class = road> -->
	<img class = "road" src = "/assets/images/home.jpg" border = "0">
	<!-- </div> -->
	<div class = "p1">Be</div>
	<div class = "p2">i</div>
	<div class = "p3">nGenious</div>
	<div class = "p4">the road to ingeniuty ...</div>
	<!-- <canvas id="cvs" >
                   Your browser does not support the HTML 5 Canvas. 
	</canvas> -->
	<div class = "us">
		Developed by
		<ul>
			<li><img src = "/assets/images/priyam.gif" class = "devs"></li>
			<li><img src = "/assets/images/praneet.gif" class = "devs"></li>
			<li><img src = "/assets/images/aviral.gif" class = "devs"></li>
			<li><img src = "/assets/images/anoop.gif" class = "devs"></li>
		</ul>
	</div>

</div>

{% endblock %}