{% extends "base.html" %}
{% block content %}
<!-- <ul id="horiz-menu">
    <li><a href="/login?pane=signin">Sign In</a></li>
    <li><a href="/login?pane=signup">Sign Up</a></li>
</ul> -->

{% if pane == 'signup' %}
<form method = "post">
    <div class = "header-signup">
        Sign up
    </div>
    <div class = "box-signup">
        <div class = "dummy-signup"></div>

        <div class="container-signup">
            <input class = "input-signup-name" type="text" placeholder="  First Name" name="fname" value="{{fname}}">
            <div class = "error">{{fname_error}}</div>
            
            <input class = "input-signup-name" type="text" placeholder="  Last Name" name="lname" value="{{lname}}">

            <div class = "error">{{lname_error}}</div>
            
            <input class = "input-signup-email" type="email" placeholder="  Enter Email" name="email" value="{{email}}">

            <div class = "error">{{email_error}}</div>

            <input class = "input-signup-password" type="password" placeholder="  Enter Password" name="password">
            
            <input class = "input-signup-password" type="password" placeholder="  Confirm Password" name="verify">

            <div class = "error">{{pass_error}}</div>
            <div class = "error">{{verify_error}}</div>

            <div class = 'button'>    
                <button class = "button-signup" type="submit" value = "Sign up" name = "signup">Sign up</button>
            </div>
        <!-- <input type="checkbox" checked="checked"> Remember me -->
        </div>

  <!-- <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div> -->
    </div>
</form>

{% elif pane == 'signin' %}


<form method = "post">
    <div class = "header-signin">
        Sign in
    </div>
    <div class = "box-signin">
        <div class="image-signin">
            <img src="/assets/images/avatar.png" alt="Avatar" class="avatar-signin">
        </div>

        <div class="container-signin">
            <input class = "input-signin-email" type="email" placeholder="  Email" name="email" value="{{email}}">

            <input class = "input-signin-password" type="password" placeholder="  Password" name="password">
                
            <div class = "error">{{login_error}}</div>

            <div class = "button">
                <button class = "button-signin" type="submit" value = "Sign in" name = "signin">Login</button>
            </div>
            <a href = "/forgotpassword">Forgot password?</a>
        <!-- <input type="checkbox" checked="checked"> Remember me -->
        </div>

  <!-- <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div> -->
    </div>
</form>
{% endif %}
{% endblock %}