{% extends "base.html" %}
{% block content %}
<ul id="horiz-menu">
	<li><a href="/login?pane=signin">Sign In</a></li>
	<li><a href="/login?pane=signup">Sign Up</a></li>
</ul>

{% if pane == 'signup' %}
<form method = "post">
	<table style = "width:100%">
		<tr>
			<td><input type = "text" placeholder = "FirstName*" name = "fname" value = "{{fname}}"></td>
			<td><input type = "text" placeholder = "LastName*" name = "lname" value = "{{lname}}"></td>
		</tr>
		<tr>
			<td><div class = "error">{{fname_error}}</div></td>
			<td><div class = "error">{{lname_error}}</div></td>
		</tr>
		<tr>
			<td><input type = "email" placeholder = "Email*" name = "email" value = "{{email}}"></td>
		</tr>
		<tr>
			<td><div class = "error">{{email_error}}</div></td>
		</tr>
		<tr>
			<td><input type = "password" placeholder = "Password*" name = "password"></td>
			<td><input type = "password" placeholder = "Confirm Password*" name = "verify"></td>
		</tr>
		<tr>
			<td><div class = "error">{{pass_error}}</div></td>
			<td><div class = "error">{{verify_error}}</div></td>
		</tr>	
	</table>
	<input type = "submit" value = "Sign up" name = "signup">
</form>
{% elif pane == 'signin' %}
<form method = "post">
	<table style = "width:100%">
		<tr>
			<td><input type = "email" placeholder = "Email*" name = "email" value = "{{email}}"></td>
		</tr>
		<tr>
			<td><input type = "password" placeholder = "Password*" name = "password"></td>
		</tr>
		<tr>
			<td><div class = "error">{{login_error}}</div></td>
		</tr>
	</table>
	<input type = "submit" value = "Sign in" name = "signin">
</form>
{% endif %}
{% endblock %}