{% extends "base.html" %}
{% block content %}
<!-- <ul id="horiz-menu">
    <li><a href="/login?pane=signin">Sign In</a></li>
    <li><a href="/login?pane=signup">Sign Up</a></li>
</ul> -->

{% if pane == 'signup' %}
<form method = "post">
    <div class = "header-signup">
        Sign up to continue ...
    </div>
    <div class = "box-signup">
        <div class="image-signup">
            <img src="/assets/images/user.png" alt="Avatar" class="avatar-signup">
        </div>

        <div class="container-signup">
            <label><b>First Name</b></label>
            <input class = "input-signup" type="text" placeholder="First Name" name="fname" value="{{fname}}">
            
            <label><b>Last Name</b></label>
            <input class = "input-signup" type="text" placeholder="Last Name" name="lname" value="{{lname}}">

            <div class = "error">{{fname_error}}</div>
            <div class = "error">{{lname_error}}</div>
            
            <label><b>Email</b></label>
            <input class = "input-signup" type="email" placeholder="Enter Email" name="email" value="{{email}}">

            <div class = "error">{{email_error}}</div>

            <label><b>Password</b></label>
            <input class = "input-signup" type="password" placeholder="Enter Password" name="password">
            
            <label><b> Confirm Password</b></label>
            <input class = "input-signup" type="password" placeholder="Confirm Password" name="verify">

            <div class = "error">{{pass_error}}</div>
            <div class = "error">{{verify_error}}</div>

                
            <button class = "button-signup" type="submit" value = "Sign up" name = "signup">Sign up</button>
        <!-- <input type="checkbox" checked="checked"> Remember me -->
        </div>

  <!-- <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div> -->
    </div>
</form>
<!-- <form method = "post">
    <table style = "width:100%">
        <tr>
            <td><input type = "text" placeholder = "FirstName*" name = "fname" value = "{{fname}}"></td>
            <td><input type = "text" placeholder = "LastName*" name = "lname" value = "{{lname}}"></td>
        </tr>
        <tr>
            <td><div class = "error">{{fname_error}}</div></td>
            <td><div class = "error">{{lname_error}}</div></td>
        </tr>
        <tr>
            <td><input type = "email" placeholder = "Email*" name = "email" value = "{{email}}"></td>
        </tr>
        <tr>
            <td><div class = "error">{{email_error}}</div></td>
        </tr>
        <tr>
            <td><input type = "password" placeholder = "Password*" name = "password"></td>
            <td><input type = "password" placeholder = "Confirm Password*" name = "verify"></td>
        </tr>
        <tr>
            <td><div class = "error">{{pass_error}}</div></td>
            <td><div class = "error">{{verify_error}}</div></td>
        </tr>   
    </table>
    <input type = "submit" value = "Sign up" name = "signup">
</form> -->
{% elif pane == 'signin' %}


<form method = "post">
    <div class = "header-signin">
        Sign in to continue ...
    </div>
    <div class = "box-signin">
        <div class="image-signin">
            <img src="/assets/images/avatar.png" alt="Avatar" class="avatar-signin">
        </div>

        <div class="container-signin">
            <!-- <label><b>Email</b></label> -->
            <input class = "input-signin" type="email" placeholder="Email" name="email" value="{{email}}">

            <!-- <label><b>Password</b></label> -->
            <input class = "input-signin" type="password" placeholder="Password" name="password">
                
            <div class = "error">{{login_error}}</div>
            <button class = "button-signin" type="submit" value = "Sign in" name = "signin">Login</button>
        <!-- <input type="checkbox" checked="checked"> Remember me -->
        </div>

  <!-- <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div> -->
    </div>
</form>
{% endif %}
{% endblock %}